###############################################################
###           SECTION 1: General Configuration              ###
###############################################################

# Worker name
name = "data-api"

# Entrypoint/path to the file that will be executed
main = "src/index.ts"

# Date in yyyy-mm-dd to determine which version of Workers runtime to use
# Details: https://developers.cloudflare.com/workers/platform/compatibility-dates/
compatibility_date = "2022-05-24"

# Usage model for the Worker
# Details: https://developers.cloudflare.com/workers/platform/limits
usage_model = "unbound"


###############################################################
###            SECTION 2: Production Environment            ###
###############################################################

# Deploy to NAME.SUBDOMAIN.workers.dev?
# @default `true`
workers_dev = true

# Route to publish the Worker
route = { pattern = "data-api.cheqd.io/*", zone_id = "afe3b66243382f27140e6feeaae848b5" }

# KV Namespaces accessible from the Worker
# Details: https://developers.cloudflare.com/workers/learning/how-kv-works
# @default `[]`
[[kv_namespaces]]
binding = "CIRCULATING_SUPPLY_WATCHLIST"
id = "ce2e547de27f467c86afa67996b8784a"
preview_id = "afb34dd4b9374cc4a7ae7c3aaf6e5ce2"

# Map of environment variables to set when deploying the Worker
# Not inherited. @default `{}`
[vars]
# Token lowest denom exponent. 1 CHEQ = 10^9 ncheq
TOKEN_EXPONENT = "9"
# Standard Cosmosd SDK REST API endpoint for a node on target network
REST_API = "https://api.cheqd.net"
# GraphQL API endpoint for target network. Must be sourced from a BigDipper instance.
GRAPHQL_API = "https://explorer-gql.cheqd.io/v1/graphql"


###############################################################
###             SECTION 3: Local Development                ###
###############################################################

# Configuration options for local development via Wrangler
[dev]
# IP address for the local dev server to listen on
# @default `localhost`
ip = "localhost"
# Port for the local dev server to listen on
# @default `8787`
port = 8787
# Protocol that local wrangler dev server listens to requests on
# @default `http`
local_protocol = "http"


###############################################################
###             SECTION 4: Staging Environment              ###
###############################################################

[env.staging]
# Deploy to NAME.SUBDOMAIN.workers.dev?
# @default `true`
workers_dev = true

# Route to publish the Worker
route = { pattern = "data-api-staging.cheqd.io/*", zone_id = "afe3b66243382f27140e6feeaae848b5" }

# Map of environment variables to set when deploying the Worker
# Not inherited. @default `{}`
vars = { TOKEN_EXPONENT = "9", REST_API = "https://api.cheqd.net", GRAPHQL_API = "https://explorer-gql.cheqd.io/v1/graphql" }

# KV Namespaces accessible from the Worker
# Details: https://developers.cloudflare.com/workers/learning/how-kv-works
# @default `[]`
[[env.staging.kv_namespaces]]
binding = "CIRCULATING_SUPPLY_WATCHLIST"
id = "afb34dd4b9374cc4a7ae7c3aaf6e5ce2"
preview_id = "1e1032cbf6854d88b12317da8a792928"

crons = ["0 * * * *"]

###############################################################
###               OPTIONAL: Build Configuration             ###
###############################################################

# NOTE: THIS IS A TOP-LEVEL CONFIGURATION AND NEEDS TO BE MOVED IF USED
# Optional custom build step when using Wrangler CLI for build
# Details: https://developers.cloudflare.com/workers/wrangler/custom-builds/
# @default {}
# [build]
#   # Custom build command. On Linux and macOS, the command is executed in
#   # the `sh` shell and the `cmd` shell for Windows.
#   # The `&&` and `||` shell operators may be used.
#   command = ""
#   # The directory in which the command is executed.
#   cwd = "./src"
#   # The directory to watch for changes while using `wrangler dev`,
#   # defaults to the current working directory
#   watch_dir = ""

# List of data files that the Worker should be bound to. This is
# the legacy way of binding to a data file. ES module Workers should
# do proper module imports.
#[data_blobs]
# DATA = ""

# Minify before uploading?
# minify = "false"

# Add polyfills for node builtin modules and globals?
# node_compat = "false"
