name: "Deploy"
on:
  workflow_call:
defaults:
  run:
    shell: bash

jobs:
  
  staging-deploy:
    name: "Cloudflare - Staging"
    runs-on: ubuntu-latest
    environment:
      name: staging
      url: https://data-api-staging.cheqd.io/

    steps:
      - uses: actions/checkout@v3
      
      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'

      - name: Publish to Cloudflare
        uses: cloudflare/wrangler-action@2.0.0
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          wranglerVersion: '2.0.6'
          preCommands: yarn install
          command: publish --env staging

  production-deploy:
    if: ${{ success() }} && ( github.ref_name == 'main' )
    needs: staging-deploy
    name: "Cloudflare - Production"
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    environment:
      name: production
      url: https://data-api.cheqd.io/

    steps:
      - name: Initialise CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: 'javascript'
          queries: security-and-quality
      
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'

      - name: Publish to Cloudflare
        uses: cloudflare/wrangler-action@2.0.0
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          wranglerVersion: '2.0.6'
          preCommands: yarn install
          command: publish
      
      - name: Perform CodeQL Analysis
        continue-on-error: true
        uses: github/codeql-action/analyze@v2
